.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .container h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  body {
    margin: 0 !important;
  }
  
  table {
    width: 100%;
    font-size: 16px;
  }
  
  @media screen and (max-width: 768px) {
    table {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 576px) {
    table {
      font-size: 12px;
    }
  }
  @media (max-width: 767px) {
    table {
      width: 100%;
    }
  }
  /* Adjust layout for small screens */
  @media screen and (max-width: 480px) {
    .user-details {
      font-size: 0.8em;
    }
    .edit-button {
      position: relative;
      margin-top: 1em;
    }
  }
  .container {
    position: relative;
    height: 100%;
  }
  
  table {
    max-height: 400px; /* or any value you prefer */
    overflow-y: auto;
  }
  
  
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: rgb(35, 59, 196);
    color: white;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  tbody td {
    max-width: 200px; /* set a max-width for the table cells */
    white-space: nowrap; /* prevent line breaks */
    overflow: hidden; /* hide overflowing content */
    text-overflow: ellipsis; /* show ellipsis for overflowing content */
    margin: 0;
  }
  
  .container input[type="text"],
  .container input[type="username"],
  .container input[type="password"],
  .container input[type="email"],
  .container input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
  }
  
  .container input[type="button"] {
    background-color: black;
    color: #fff;
    cursor: pointer;
    width:100px;
    padding: 10px;
  }
  
  .container input[type="button"]:hover {
    background-color: grey;
 
  }
  
  h1{
    color:black;
    
    font-style: italic;
  
  }
  p{
    font-weight: bold;
 
  }
  .add-link {
    margin-top: 0px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
  }
  .add-restriction{
     font-weight: bold;
     color:black;
  }
  table {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  